# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Django
db.sqlite3
staticfiles/
media/

# Secrets & keys (ABSOLUTE MUST)
secure_keys/
*.pem
.env

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db